:root {
    --primary: #6d28d9; /* Purple */
    --secondary: #10b981; /* Green */
    --dark: #1f2937;
    --light: #f3f4f6;
    --light-gray: #37404d;
  }
  
.bg-purple-900{
    background-color: #2d1b4d;
}
.bg-secondary{
  background: var(--secondary);
}
.text-primary{
  color: var(--primary);
}