:root {
  --primary: #6D28D9; /* Purple */
  --secondary: #10b981; /* Green */
  --sidebar: #2D1B4D; /* Purple */
  --dark: #1f2937;
  --light: #f3f4f6;
  --light-gray: #37404d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  font-size: 100%;
  /* font-size: clamp(1rem, 2vw, 1.2rem); */
}
html::-webkit-scrollbar {
  width: .6rem;
  height: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #6d28d9; /* Purple */
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Purple */
  cursor: pointer;
}


.bg-purple-900 {
  background-color: #2d1b4d;
}
.bg-secondary {
  background: var(--secondary);
}
.bg-sidebar {
  background: var(--sidebar);
}
.text-primary {
  color: var(--primary);
}
.box-icon{
  padding-right: 6.75rem;
}
#sidebar {
  overflow-y: auto;
  max-height: 100vh;
}
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between; /* Distribui espaço entre os elementos */
    padding: 8px; /* Adiciona espaçamento */
    position: relative;
    align-items: flex-end; /* Alinha os itens ao fundo */
  }

  td:before {
    content: attr(data-label); /* Exibe o nome da coluna como rótulo */
    position: absolute;
    top: 10px; /* Adiciona pequeno espaço do topo */
    left: 10px;
    font-weight: bold;
  }
}
.custom-border {  
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);  
}

@media (max-width: 480px) {
  html{
    /* font-size: 80.5%; */
  }
}

