:root {
  --primary: #6d28d9; /* Purple */
  --secondary: #10b981; /* Green */
  --dark: #1f2937;
  --light: #f3f4f6;
  --light-gray: #37404d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  font-size: 100%;
}
html::-webkit-scrollbar {
  width: .6rem;
  height: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #6d28d9; /* Purple */
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Purple */
  cursor: pointer;
}
body {
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.bg-purple-900 {
  background-color: #2d1b4d;
}
.bg-secondary {
  background: var(--secondary);
}
.text-primary {
  color: var(--primary);
}
#sidebar {
  overflow-y: auto;
  /* max-height: 100vh; */
}

